* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  background-color: aqua;
  width: 500px;
  height: 600px;
}

.child {
  width: 50%;
  height: 50%;
  background-color: coral;
}
.parent:hover .child {
  /* background-color: green; */
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards 3 alternate; */
  /* animation-play-state: paused; */
  animation: top-to-bottom 1.3s ease-in 0.5s forwards infinite alternate;
}

@keyframes top-to-bottom {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translate(100%);
    background: rgb(203, 145, 145);
  }
  50% {
    transform: translate(50%, 50%);
    background: rgb(189, 184, 28);
  }
  66% {
    transform: translate(50%, 50%);
    background: rgb(184, 14, 14);
  }
  100% {
    transform: translate(100%, 100%);
    background: red;
  }
}
